extends layout 

block layout-content 
    .hero-section
        img.hero-image(src='/images/photohero.jpg', alt='Hero Image')
    .category-section
        .category
            img.category-image(src='/images/p2.jpg', alt='Category 1')
            h2.category-title Perfumes
            a.btn.btn-shop(href="/products") Shop
        .category
            img.category-image(src='/images/p3.jpg', alt='Category 2')
            h2.category-title Body Creams
            a.btn.btn-shop(href="/products") Shop
        .category
            img.category-image(src='/images/p4.jpg', alt='Category 3')
            h2.category-title Hand Soaps
            a.btn.btn-shop(href="/products") Shop
